QWidget#widget
{
    border: 1px solid #32435E;
    border-radius: 5px;                /*控件边框的弧度，数值越大，则弯曲得越厉害*/
/* padding: 0 8px; */
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,    /*背景*/
                         stop: 0 #113845,
                         stop: 1.0 #15A8FF);
    selection-background-color: #0A246A;
}
QPushButton#pushButton
{   
     color:red;
}
.QRadioButton
{
     color:yellow;
}
